<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.pcar.back.cars.model.dao.CarsMapper">
	
	<select id="selectTotalCount"
			resultType="_int">
		SELECT
			   COUNT(*)
		  FROM
		  	   TB_CAR
		 WHERE
		 	   CAR_STATUS = 'Y'
	</select>
	
	<select id="findAll"
			resultType="CarsDTO">
	SELECT 
		   CAR_ID carId
		 , CAR_NAME carName
		 , CAR_CONTENT carContent
		 , CAR_SEET carSeet
		 , CAR_SIZE carSize
		 , BATTERY battery
		 , CAR_IMAGE carImage
		 , CAR_STATUS carStatus
		 , CAR_DRIVING carDriving
		 , CAR_EFFICIENCY carEfficiency
	  FROM
	  	   TB_CAR
	 WHERE 
	 	   CAR_STATUS = 'Y'
	 ORDER
	    BY
	       CAR_ID ASC
	 OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
	</select>
	
	<select id="findByCarId"
			resultType="CarsDTO">
		SELECT 
			   CAR_ID carId
			 , CAR_NAME carName
			 , CAR_CONTENT carContent
			 , CAR_SEET carSeet
			 , CAR_SIZE carSize
			 , BATTERY battery
			 , CAR_IMAGE carImage
			 , CAR_STATUS carStatus
			 , CAR_DRIVING carDriving
			 , CAR_EFFICIENCY carEfficiency
		  FROM
		  	   TB_CAR
		 WHERE
		 	   CAR_ID = #{carId}
	</select>
	
	<insert id="saveReservation"
			parameterType="com.kh.pcar.back.cars.model.dto.ReservationDTO">
		INSERT 
		  INTO 
		       TB_RESERVATION
		       (
               RESERVATION_NO
           	 , USER_NO
             , CAR_ID
             , RESERVATION_DATE
             , START_TIME
             , END_TIME
             , DESTINATION
             , RESERVATION_STATUS
             ) 
        VALUES
             (
               SEQ_RESERVATION_NO.NEXTVAL
             , #{userNo}
             , #{carId}
             , SYSDATE
             , TO_DATE(REPLACE(#{startTime}, 'T', ' '), 'YYYY-MM-DD HH24:MI')
             , TO_DATE(REPLACE(#{endTime}, 'T', ' '), 'YYYY-MM-DD HH24:MI')
             , #{destination}
             , #{reservationStatus}
        	 )
		
	</insert>
</mapper>