<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.pcar.back.boards.comment.model.dao.CommentMapper">
	
	<insert id="save" 
	parameterType="com.kh.pcar.back.boards.comment.model.dto.CommentDTO">
		INSERT 
		  INTO 
			   TB_COMMENT C
			   (
			   C.COMMENT_NO
			 , C.COMMENT_WRITER
			 , C.COMMENT_CONTENT
			 , C.COMMENT_DATE
			 , C.COMMENT_STATUS 
			 , C.REF_BNO
			   )
		VALUES 
			   (
			   SEQ_CNO.NEXTVAL
			 , (SELECT M.USER_NO FROM TB_MEMBER M WHERE M.USER_ID = #{commentWriter})
			 , #{commentContent}
			 , DEFAULT
			 , DEFAULT
			 , #{refBno} 
			   )
	</insert>
	
	<select id="findAll" parameterType="long"
	resultType="com.kh.pcar.back.boards.comment.model.dto.CommentDTO">
		SELECT 
			   C.COMMENT_NO commentNo
			 , M.USER_ID commentWriter
			 , C.COMMENT_CONTENT commentcontent
			 , C.COMMENT_DATE commentDate
			 , C.COMMENT_STATUS commentStatus
			 , C.REF_BNO refBno
		  FROM 
			   TB_COMMENT C 
		  JOIN 
		  	   TB_MEMBER M ON C.COMMENT_WRITER = M.USER_NO 
		 WHERE 
		 	   C.COMMENT_STATUS = 'Y' 
		   AND 
		       C.REF_BNO = #{boardNo} 
		 ORDER 
		    BY 
		       C.COMMENT_NO DESC
	</select>
	
	<!-- 댓글 내용 수정 -->
    <update id="update"
            parameterType="com.kh.pcar.back.boards.comment.model.dto.CommentDTO">
        UPDATE TB_COMMENT
        SET
            COMMENT_CONTENT = #{commentContent}
        WHERE
            COMMENT_NO = #{commentNo}
            AND COMMENT_STATUS = 'Y'
    </update>

    <!-- 댓글 삭제 : STATUS = 'N' 으로 소프트 삭제 -->
    <update id="delete" parameterType="long">
        UPDATE TB_COMMENT
        SET COMMENT_STATUS = 'N'
        WHERE COMMENT_NO = #{commentNo}
    </update>

    <!-- 댓글 신고 등록 : 예시용, 실제 테이블/칼럼명에 맞게 수정 필요 -->
    <insert id="reportRequest">
        INSERT INTO TB_COMMENT_REPORT (
            REPORT_NO,
            COMMENT_NO,
            REPORTER_NO,
            REASON,
            REPORT_DATE,
            STATUS
        ) VALUES (
            SEQ_COMMENT_REPORT_NO.NEXTVAL,
            #{commentNo},
            (SELECT USER_NO FROM TB_MEMBER WHERE USER_ID = #{reporterId}),
            #{reason},
            SYSDATE,
            'Y'
        )
    </insert>
    
</mapper>
  