<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.pcar.back.boards.comment.model.dao.CommentMapper">
	
	<insert id="save" parameterType="CommentVO">
		INSERT 
		  INTO 
			   TB_COMMENT C
			   (
			   C.COMMENT_NO
			 , C.COMMENT_WRITER
			 , C.COMMENT_CONTENT
			 , C.COMMENT_DATE
			 , C.COMMENT_STATUS 
			 , C.REF_BNO
			   )
		VALUES 
			   (
			   SEQ_CNO.NEXTVAL
			 , (SELECT M.USER_NO FROM TB_MEMBER M WHERE M.USER_ID = #{commentWriter})
			 , #{commentContent}
			 , DEFAULT
			 , DEFAULT
			 , #{refBno} 
			   )
	</insert>
	
	<select id="findAll" parameterType="long"
						resultType="CommentDTO">
		SELECT 
			   C.COMMENT_NO commentNo
			 , M.USER_ID commentWriter
			 , C.COMMENT_CONTENT commentcontent
			 , C.COMMENT_DATE commentDate
			 , C.COMMENT_STATUS commentStatus
			 , C.REF_BNO refBno
		  FROM 
			   TB_COMMENT C 
		  JOIN 
		  	   TB_MEMBER M ON C.COMMENT_WRITER = M.USER_NO 
		 WHERE 
		 	   C.COMMENT_STATUS = 'Y' 
		 ORDER 
		    BY 
		       C.COMMENT_NO DESC;
	</select>
	
	<update id="">
		
	</update>
    
</mapper>
  