<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.pcar.back.member.model.dao.MemberMapper">
	<insert id="join" parameterType="MemberVO" >
		INSERT 
		  INTO
			   TB_MEMBER 
			   (
			   USER_NO
    		 , USER_ID
             , USER_NAME
             , BIRTHDAY
             , EMAIL
             , PHONE
             , USER_ROLL
             , LICENSE_IMG
			   ) 
	    VALUES
			   (
			   SEQ_MEMBER.NEXTVAL
             , #{memberId}
             , #{memberName}
             , #{birthDay}
             , #{email}
             , #{phone}
             , #{role}
             , #{licenseUrl} 
               )
	</insert>
	
	<insert id="socialJoin" parameterType="NaverProfileVO" >
		INSERT 
		  INTO
			   TB_MEMBER 
			   (
			   USER_NO
    		 , USER_ID 
             , USER_NAME
             , BIRTHDAY 
             , EMAIL
             , PHONE 
             , USER_ROLL
			   ) 
	    VALUES
			   (
			   SEQ_MEMBER.NEXTVAL
             , #{id}
             , #{name}
             , #{birthday}
             , #{email}
             , #{mobile}
             , #{role}
               )
	</insert>
	
	
<select id="loadUser" parameterType="String" resultType="MemberDTO">
    SELECT
           M.USER_NO       userNo
         , M.USER_ID       memberId
         , M.USER_NAME     memberName
         , M.BIRTHDAY      birthDay
         , M.EMAIL         email
         , M.PHONE         phone
         , M.USER_ROLL     role
         , M.LICENSE_IMG   licenseUrl
         , M.STATUS        status
         , M.ENROLL_DATE   enrollDate
         , L.PASSWORD      memberPwd
    FROM TB_MEMBER M
    LEFT JOIN TB_LOCAL L ON M.USER_NO = L.USER_NO
    WHERE M.USER_ID = #{memberId}
      AND M.STATUS = 'Y'
</select>


</mapper>